
                     
    <h2>Receipes</h2>
    <p> <a href = "https://www.youtube.com/results?search_query=pizza+receipe+english" target="_blank"> &#9829; Yummy Cheese Pizza.. </a></p>
    <p><a href = "https://www.youtube.com/results?search_query=Dhokala+Receipe+english"> &#9829; Dhokala Receipe...</a></p>
    <p><a href = "https://www.youtube.com/results?search_query=Sandwitch+in+5+minutes"> &#9829; Sandwitch in 5 minutes...</a></p>
    <p><a href = "https://www.youtube.com/results?search_query=Palak+parathas">&#9829; Palak parathas...</a></p>
    <p><a href = "https://www.youtube.com/results?search_query=Paneer+butter+masala">&#9829; Paneer butter masala...</a></p>
    <p><a href = "https://www.youtube.com/results?search_query=+Dumm+Biryani+receipe"> &#9829; Dumm Biryani...</a></p>
    <p> <a href = "https://www.youtube.com/results?search_query=pizza+receipe+english" target="_blank"> &#9829; Yummy Cheese Pizza.. </a></p>
    <p><a href = "https://www.youtube.com/results?search_query=Dhokala+Receipe+english"> &#9829; Dhokala Receipe...</a></p>
    <p><a href = "https://www.youtube.com/results?search_query=Sandwitch+in+5+minutes"> &#9829; Sandwitch in 5 minutes...</a></p>
    <p><a href = "https://www.youtube.com/results?search_query=Palak+parathas">&#9829; Palak parathas...</a></p>
    <p><a href = "https://www.youtube.com/results?search_query=Paneer+butter+masala">&#9829; Paneer butter masala...</a></p>
    
    
