  
  <div ng-controller="indexController">        
      <div ng-show="!isBookPage" class="welcometxt">
            <!-- <marquee direction = "down">Welcome to food blog... This is best site for all the foodies..You can get various types of receipes here.. Different receipe book are also available here and you can add different books you know.....</marquee> -->
            <p>Welcome to food blog... This is best site for all the foodies..You can get various types of receipes here.. Different receipe book are also available here and you can add different books you know.....</p>

      </div>  
  </div>
            
